<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxx17.couple.mapper.CpUserMapper">

    <resultMap id="BaseResultMap" type="com.zxx17.couple.domain.CpUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="personalIntroduction" column="personal_introduction" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="idCardNumber" column="id_card_number" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="isSingle" column="is_single" jdbcType="TINYINT"/>
            <result property="membershipLevel" column="membership_level" jdbcType="TINYINT"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
            <result property="registrationTime" column="registration_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,nickname,
        personal_introduction,avatar_url,password,
        phone_number,email,id_card_number,
        gender,is_single,membership_level,
        last_login_time,last_login_ip,registration_time,
        update_time,user_status
    </sql>
</mapper>
